extends layout
      
block content
    .container
      // Static navbar
      .navbar.navbar-default(role='navigation')
        .container-fluid
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='http://hooman.me') About

          .navbar-collapse.collapse
            ul.nav.navbar-nav
              li
                a(href='http://hooman.me/projects') Personal Projects
              li
                a(href='#') Blog
                
            ul.nav.navbar-nav.navbar-right
              li
                a(href="https://www.linkedin.com/in/hoomanyar", class="icon")
                  i(class="fa fa-linkedin-square")
              li
                a(href="https://github.com/hmny", class="icon")
                  i(class="fa fa-github")
              li
                a(href="https://twitter.com/yar00001", class="icon")
                  i(class="fa fa-twitter")
                                    

      .row
        .col-md-12
            .whoami
                h1 Hooman@Yar:~$ whoami
                  span.blinking-cursor |
            li I am Hooman Yar, a Computer Science Student with a focus on Software Engineering in 
                a(href="https://www.cs.umn.edu/") University of Minnesota.
            li I like to make Web/Desktop Applications as a hobby.
            li I started programming when I was a kid, playing around with Wordpress and making useless templates/widgets; PHP is not my favorite language though.
            li I like Java, but I like C# more.
            li I feel more powerful when I use Linux, but I am more productive in Windows, except for times I'm trying to run a Linux box on Windows
            li Once I asked an old friend what do I need to do to become a good .Net developer. He told me to not to be only a .Net developer. I took it to heart.
             
      .row
        .col-md-12
          .contact_button
            button(class="button_me", onclick="window.location.href='mailto:hooman.yar@gmail.com'") Contact me
                    
       .row
        .col-md-12
          .section-header
            h3 Skills
          .col-md-6
            strong Languages
            li C#
            li Java
            li JavaScript
            li Go
            li Python
            // .bar_section
            //   section(id="skills")
            //     progress(value="85", max="100")
            //     span C#
            //   section(id="skills")
            //     progress(value="80", max="100")
            //     span Java
            //    section(id="skills")
            //     progress(value="80", max="100")
            //     span JavaScript               
            //    section(id="skills")
            //     progress(value="60", max="100")
            //     span Python
            //    section(id="skills")
            //     progress(value="50", max="100")
            //     span C++
            //    section(id="skills")
            //     progress(value="30", max="100")
            //     span C                
            //    section(id="skills")
            //     progress(value="10", max="100")
            //     span F#                                               

           .col-md-3
            strong Database/Cloud
            li Azure
            li MySQL
            li Oracle
            li SQL
            
            strong Tools
            li Git
            li Vagrant
            li Docker
  
           .col-md-3
            strong Frameworks
            li ASP.NET
            li Express
            li Django
            li Angular.Js
            
           .col-md-3
            strong OS
            li Ubuntu
            li Windows
            li Arch
                                   
      // .row
      //   .col-md-12
      //     .project
      //       .project-header
      //         h3 This is a box
      //       .project-body
      //         p Boxes make up a small 2 column grid on larger screens and shrink to single column on smaller screens Boxes make up a small 2 column grid on larger screens and shrink to single column on smaller screensBoxes make up a small 2 column grid on larger screens and shrink to single column on smaller screensBoxes make up a small 2 column grid on larger screens and shrink to single column on smaller screens
              
            
      .footer
        p Copyright © 2015 Hooman Yar


