extends layout
      
block content
    .container
      // Static navbar
      .navbar.navbar-default(role='navigation')
        .container-fluid
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='http://hooman.me') #{title}

          .navbar-collapse.collapse
            ul.nav.navbar-nav
              li.active
                a(href='#') About
              li
                a(href='#') Projects
              li
                a(href='#') Blog                             

            ul.nav.navbar-nav.navbar-right
              li
                .navbar-brand.navbar-right.icon
                  i(class="fa fa-twitter")
              li
                .navbar-brand.navbar-right.icon
                  i(class="fa fa-github")
               li
                .navbar-brand.navbar-right.icon
                  i(class="fa fa-linkedin-square")
                                   

      .row
        .col-md-12
          p Boxes make up a small 2 column grid on larger screens and shrink to single column on smaller screens Boxes make up a small 2 column grid on larger screens and shrink to single column on smaller screensBoxes make up a small 2 column grid on larger screens and shrink to single column on smaller screensBoxes make up a small 2 column grid on larger screens and shrink to single column on smaller screens

      .row
        .col-md-12
          .contact_button
            button(class="button_me") Contact me
                    
       .row
        .col-md-12
          .section-header
            h3 Skills
          .col-md-6
            strong Languages
            .bar_section
              section(id="skills")
                progress(value="85", max="100")
                span C#
              section(id="skills")
                progress(value="80", max="100")
                span Java
               section(id="skills")
                progress(value="80", max="100")
                span JavaScript               
               section(id="skills")
                progress(value="60", max="100")
                span Python
               section(id="skills")
                progress(value="50", max="100")
                span C++
               section(id="skills")
                progress(value="30", max="100")
                span C                
               section(id="skills")
                progress(value="10", max="100")
                span F#                                               

           .col-md-3
            strong Database/Cloud
            li Azure
            li MySQL
            li Oracle
            li SQL
            
            strong Tools
            li Git
            li Vagrant
            li Docker
  
           .col-md-3
            strong Frameworks
            li ASP.NET
            li Express
            li Django
            li Angular.Js
            
           .col-md-3
            strong OS
            li Ubuntu
            li Windows
            li Arch
                                   
      // .row
      //   .col-md-12
      //     .project
      //       .project-header
      //         h3 This is a box
      //       .project-body
      //         p Boxes make up a small 2 column grid on larger screens and shrink to single column on smaller screens Boxes make up a small 2 column grid on larger screens and shrink to single column on smaller screensBoxes make up a small 2 column grid on larger screens and shrink to single column on smaller screensBoxes make up a small 2 column grid on larger screens and shrink to single column on smaller screens
              
            
      .footer
        p Copyright © 2015 Hooman Yar


